-- Migration pour ajouter les colonnes nom et photo de profil aux utilisateurs
-- Date: 2025-09-09

-- Ajouter les colonnes nom et photo à la table users
ALTER TABLE users ADD COLUMN IF NOT EXISTS nom VARCHAR(255);
ALTER TABLE users ADD COLUMN IF NOT EXISTS prenom VARCHAR(255);
ALTER TABLE users ADD COLUMN IF NOT EXISTS nom_complet VARCHAR(255);
ALTER TABLE users ADD COLUMN IF NOT EXISTS photo_profil VARCHAR(500);
ALTER TABLE users ADD COLUMN IF NOT EXISTS avatar_url VARCHAR(500);
